.container {
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	.innerBox {
		display: flex;
		justify-content: space-around;
		width: 100%;
	}

	// font-family: monospace;
	background: #ffffff;

	@mixin default-btn {
		position: relative;
		width: 160px;
		padding: 20px 0;
		margin: auto;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0.05em;
		cursor: pointer;
		background: #ffffff;
		border: none;
		border-radius: 4px;
	}
	.btn-1 {
		@include default-btn;

		overflow: hidden;
		background-color: #1e0f21;
		transform: translate3d(0, 0%, 0);
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: #3ad2d0;
			border-radius: 50% 50% 0 0;
			transition: all 0.6s ease;
			transform: translateY(100%) scaleY(0.5);
		}
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: "";
			background: #ffffff;
			border-radius: 0;
			transition: all 0.6s ease;
			transform: translateY(0) scaleY(1);
		}
		div {
			position: relative;
			width: 100%;
			height: 26px;
			overflow: hidden;
			text-align: center;
			text-transform: uppercase;
		}
		span {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			text-align: center;
			transition: transform 0.5s ease;
			&:first-child {
				color: #ffffff;
				transform: translateY(24px);
			}
			&:last-child {
				color: #1e0f21;
				transform: translateY(0);
			}
		}
		&:hover {
			background: #3ad2d0;
			transition: background 0.2s linear;
			transition-delay: 0.6s;
			&::after {
				border-radius: 0 0 50% 50%;
				transition-delay: 0;
				transform: translateY(-100%) scaleY(0.5);
			}
			&::before {
				border-radius: 0;
				transition-delay: 0;
				transform: translateY(0) scaleY(1);
			}
			span:first-child {
				transform: translateY(0);
			}
			span:last-child {
				transform: translateY(24px); // 使用变量
			}
		}
	}
	.btn2 {
		position: relative;
		display: inline-block;
		width: 150px;
		padding: 20px 0;
		margin: auto;
		overflow: hidden;
		font-size: 16px;
		font-weight: 600;
		text-align: center;
		transition: all 0.2s linear 0s;
		&:hover {
			text-indent: -20px;
			&::before {
				text-indent: 0;
				opacity: 1;
			}
		}
		&::before {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 40px;
			height: 100%;
			font-family: iconfont;
			font-size: 15px;
			content: "\e8ff";
			opacity: 0;
			transition: all 0.2s linear 0s;
		}
	}
	.btn3 {
		@include default-btn;

		background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
		background-size: 300% 100%;
		border-radius: 50px;
		box-shadow: 0 4px 15px 0 rgb(49 196 190 / 75%);
		&:hover {
			background-position: 100% 0;
			transition: all 0.4s ease-in-out;
		}
		&:focus {
			outline: none;
		}
	}
	.btn4 {
		@include default-btn;

		z-index: 0;
		color: #ffffff;
		cursor: pointer;
		background: #111111;
		border: none;
		border-radius: 10px;
		outline: none;

		@keyframes glowing {
			0% {
				background-position: 0 0;
			}
			50% {
				background-position: 400% 0;
			}
			100% {
				background-position: 0 0;
			}
		}
		&::before {
			position: absolute;
			top: -7px;
			left: -7px;
			z-index: -1;
			width: calc(100% + 14px);
			height: calc(100% + 14px);
			content: "";
			background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
			filter: blur(5px);
			background-size: 400%;
			border-radius: 10px;
			opacity: 1;
			transition: opacity 0.3s ease-in-out;
			animation: glowing 20s linear infinite;
		}
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			height: 100%;
			content: "";
			background: #111111;
			border-radius: 10px;
		}
		&:active {
			color: #7a00ff;
		}
		&:active::after {
			background: transparent;
		}
		&:hover::before {
			filter: blur(25px);
			opacity: 0.8;
			animation: glowing 3s linear infinite;
		}
	}

	// $colors: (
	// 	fill: #a972cb,
	// 	pulse: #ef6eae,
	// 	close: #ff7f82,
	// 	raise: #ffa260,
	// 	up: #e4cb58,
	// 	slide: #8fc866,
	// 	offset: #19bc8b
	// );

	// @mixin basic-btn {
	// 	padding: 1em 2em;
	// 	margin: 0.5em;
	// 	font: inherit;
	// 	line-height: 1;
	// 	background: none;
	// 	border: 2px solid;
	// }

	// @each $color in $colors {
	// 	.effectBtn {
	// 		--color: #{$color};

	// 		// --hover: #{adjust-hue($color, 45deg)};
	// 		--hover: #{adjust($color, 45deg)};
	// 	}
	// }
	// .effectBtn {
	// 	@include basic-btn;

	// 	color: var(--color);
	// 	transition: 0.25s;
	// 	&:hover,
	// 	&:focus {
	// 		color: #ffffff;
	// 		border-color: var(--hover);
	// 	}
	// }
	// .fillBtn:hover,
	// .fillBtn:focus {
	// 	box-shadow: inset 0 0 0 2em var(--hover);
	// }
}
