.container {
	// 防止闪屏切换
	display: flex;
	min-width: 375px;
	height: 100%;
	.ant-layout-sider {
		box-sizing: border-box;

		// flex: 0 0 220px !important;
		// max-width: 220px !important;
		& ::-webkit-scrollbar {
			background-color: #001529;
		}
		& ::-webkit-scrollbar-thumb {
			background-color: #41444b;
		}
	}
	.ant-layout-sider-children {
		height: 100%;
	}
	.ant-layout {
		// 防止tabs超出不收缩
		overflow-x: hidden;
		.ant-layout-content {
			box-sizing: border-box;
			padding: 10px;
			margin: 10px 13px;
			overflow: auto;
			background-color: #ffffff;
			border-radius: 4px;
			box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
			.content {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
		}
	}
}
